* {
    font-family: "Symbols Nerd Font", "JetBrainsMono Nerd Font";
    font-weight: 400;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

window#waybar {
    background-color: rgba(0,0,0,0);
}

.module {
    border-radius: 10px;
    min-width: 20px;
    margin: 0 3px;
    padding: 0 5px;
    color: #DDD;
    background-color: #111;
}

#custom-nixos {
    font-weight: 600;
}

/* Groups */
#power, #audio, #hardware, #timedate {
    border-radius: 15px;
    margin: 0 3px;
}
#power .module, #audio .module, #hardware .module, #timedate .module {
    margin: 0 1px;
}

/* Workspaces */
#workspaces button {
    padding: 0 2px;
    color: #555;
}
#workspaces button:hover {
    background: rgba(0, 0, 0, 0);
    color: #DDD;
    border-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    text-shadow: none;
    transition: none;
    
}
#workspaces button.active {
    color: #FFF;
}

/* Status levels */
@keyframes critical-blink {
    0% {
        background-color: red;
    }
    50% {
        background-color: darkred;
    }
    100% {
        background-color: red;
    }
}
.regular, #battery.charging, #temperature:not(.critical) {
    color: green;
    animation: none;
}
.medium, #pulseaudio.output:not(.muted) {
    color: orange;
    animation: none;
}
.bad {
    color: red;
    animation: none;
}
.critical, #network.disconnected {
    color: white;
    animation: critical-blink 2s infinite;
}