* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: 500;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

window#waybar {
    background-color: rgba(0,0,0,0);
}

.module {
    border-radius: 5px;
    min-width: 20px;
    margin: 0 3px;
    padding: 0 5px;
    color: white;
    background-color: #111;
}

/* Groups */
#audio, #hardware, #timedate {
    border-radius: 15px;
    margin: 0 3px;
}
#audio .module, #hardware .module, #timedate .module {
    border-radius: 5px;
    margin: 0 1px;
}

/* Workspaces */
#workspaces button {
    padding: 0 2px;
    background-color: transparent;
    color: #777777;
}
#workspaces button.active {
    color: #ffffff;
}

/* Audio */
#pulseaudio.output:not(.muted) {
    background-color: orange;
}

/* Status levels */
@keyframes critical-blink {
    0% {
        background-color: red;
    }
    50% {
        background-color: darkred;
    }
    100% {
        background-color: red;
    }
}
.regular, #battery.charging, #temperature:not(.critical) {
    background-color: green;
     animation: none;
}
.medium {
    background-color: orange;
     animation: none;
}
.bad {
    background-color: red;
     animation: none;
}
.critical, #network.disconnected {
    background-color: red;
    animation: critical-blink 2s infinite;
}